{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href='{% static "style.css" %}'>
</head>
<body>
  <div class="container">
    <div class="row" style="margin-top: 200px; margin-left: 300px;">
      <div class="col-md-8">
        <h1>PetValpo Inicio de Sesion</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-4 offset-4">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
